
*.MP4
Lesson3/.ipynb_checkpoints/Lesson3_part2-checkpoint.ipynb
Lesson3/.ipynb_checkpoints/Lesson3_part1-checkpoint.ipynb
Lesson4/.ipynb_checkpoints/Lesson4-checkpoint.ipynb
Lesson5/.ipynb_checkpoints/Lesson5-checkpoint.ipynb
Lesson5/Практическое задание_5.docx
*.crdownload
Lesson6/.ipynb_checkpoints/Lesson6-checkpoint.ipynb
Lesson7/.ipynb_checkpoints/Lesson7_part1-checkpoint.ipynb
Lesson7/.ipynb_checkpoints/7_1_5-checkpoint.ipynb
Lesson7/.ipynb_checkpoints/7_2_1-checkpoint.ipynb
